<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<form th:object="${questionForm}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <div>
    <p>제목</p>
    <input name="subject" id="subject" type="text" th:filed="subject">
  </div>

  <div>
    <p>내용</p>
    <textarea name="content" id="content" rows="20" th:filed="content"></textarea>
  </div>

  <input type="submit" value="답변등록">
</form>

</body>
</html>